body {
	margin:0; 
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
}
h1 {
	position: relative;
	margin: 0; 
	padding: .5em 2.5em .5em .5em;
	color: #fff;
	background-color: #000;
	text-align: center;
}
h1::after {
	position: absolute;
	top: 35%;
	right: 5%;
	border: 1px solid white; 
	padding: .5em 1em;
	content: "+";
	font-size: 10px;
}
h1.showingAll::after  {
	content: "-";
}

.entries article {
	margin: .5em;
	padding: 0;
	border: 1px solid #d3d3d3;
	border-radius: .5em;
	box-shadow: 1px 2px #d3d3d3;
}
/* show State */
.entries article h2, 
.entries article p {
	margin:0;
	padding: 1em 10px;
}
.entries article h2 {
	border-bottom: 1px solid #ccc; 
	color: blue;
	
	-webkit-backface-visibility: hidden;
}
.entries article p {
	opacity: 1;
	height: auto;
	padding: 1em 10px;	
	-webkit-transition: height 300ms ease-out;
		 -o-transition: height 300ms ease-out;
	   -moz-transition: height 300ms ease-out;
	    -ms-transition: height 300ms ease-out;
		    transition: height 300ms ease-out;

    -webkit-transition: opacity 400ms ease-out;
		 -o-transition: opacity 400ms ease-out;
	   -moz-transition: opacity 400ms ease-out;
	    -ms-transition: opacity 400ms ease-out;
		    transition: opacity 400ms ease-out;

}
/* hide state */
.entries article.hide h2 {
	border: none;
}
.entries article.hide h2:focus {
	border: none;
}

.entries article.hide p {
	opacity: 0; 
	height: 0;
	padding: 0;
	overflow: hidden;
	color: black;
	-webkit-transition: height 300ms ease-out;
		 -o-transition: height 300ms ease-out;
	   -moz-transition: height 300ms ease-out;
	    -ms-transition: height 300ms ease-out;
		    transition: height 300ms ease-out;

	-webkit-backface-visibility: hidden;
}