body {
	margin:0; 
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
}
h1 {
	position: relative;
	margin: 0; 
	padding: .5em 2.5em .5em .5em;
	color: #fff;
	background-color: #000;
	text-align: center;
}
h1::after {
	position: absolute;
	top: 20%;
	right: 5%;
	min-width: 1em;
	min-height: 1em;
	border: 1px solid #000; 
	border-radius: 4px; 
	padding: .35em .5em;
	content: "+";
	font-size: 16px;
	font-weight: bold;
	color: #000;
	background-color: #fff;
}
h1.showingAll::after  {
	padding: .3em .5em .4em .5em;
	content: "-";
}

/* The Form */
#addNote {
	margin: 1em;
}
#addNote label {
	display: inline-block;
	margin: 12px 2.5%;
	width: 35%;
	vertical-align: top;
}
#addNote input:not([type="reset"]):not([type="submit"]), 
#addNote textarea {
	display: inline-block;
	margin: 12px 2.5%;
	width: 50%;
}
#addNote textarea {
	min-height: 5em;
}
.entries article {
	margin: .5em;
	padding: 0;
	border: 1px solid #d3d3d3;
	border-radius: .5em;
	box-shadow: 1px 2px #d3d3d3;
}
.entries article h2, 
.entries article p {
	margin:0;
	padding: 1em 10px;
	color: blue;
	border: none;
}
.entries article p {
	opacity: 0; 
	height: 0;
	padding: 0;
	overflow: hidden;
	color: black;
   -webkit-transition: height 200ms ease-out;
		-o-transition: height 200ms ease-out;
	  -moz-transition: height 200ms ease-out;
	   -ms-transition: height 200ms ease-out;
		   transition: height 200ms ease-out;

   -webkit-transition: opacity 400ms ease-out;
		-o-transition: opacity 400ms ease-out;
	  -moz-transition: opacity 400ms ease-out;
	   -ms-transition: opacity 400ms ease-out;
		   transition: opacity 400ms ease-out;
	
	-webkit-backface-visibility: hidden;
}
/* show State */
.entries article.show h2 {
	border-bottom: 1px solid #ccc; 
   -webkit-transition: all 200ms ease-out;
		-o-transition: all 200ms ease-out;
	  -moz-transition: all 200ms ease-out;
	   -ms-transition: all 200ms ease-out;
		   transition: all 200ms ease-out;
	
	-webkit-backface-visibility: hidden;
}
.entries article.show p {
	opacity: 1;
	height: auto;
	padding: 1em 10px;	
}